# Ignore virtual environment
.venv/

# Ignore dataset files
data/**/*.csv

# Ignore reports that are outputs of experiments
report/**/*.csv
report/**/*.joblib

# Ignore SSH keys
sshkey
sshkey.pub

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db
